<launch>

    <!-- Input Parameters -->
    <arg name="DATA_SET" />

    <!-- Parser server -->
    <node name="data_parser" 
        pkg="data_parser" 
        type="data_parser_node" 
        output="screen" > 
    </node>

    <!-- Interaction monitor base -->
    <node name="interaction_monitor" 
        pkg="interaction_monitor" 
        type="interaction_monitor_example" 
        output="screen" 
        args="$(find data_parser)/data/$(arg DATA_SET)" >
    </node>


</launch>
