<launch>

    <!-- Input Parameters -->
    <arg name="DATA" />

    <!-- Parser server -->
    <node name="data_parser" 
        pkg="data_parser" 
        type="data_parser_node" 
        output="screen" > 
    </node>

    <!-- Interaction_monitor publisher -->
    <node name="interaction_monitor" 
        pkg="interaction_monitor" 
        type="interaction_monitor_present" 
        output="screen" 
        args="$(find data_parser)/data/ $(arg DATA)" >
    </node>


</launch>
